@font-face {
    font-family: 'Virgil';
    src: url('fonts/Virgil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Virgil', sans-serif;
}

.title {
    background-color: antiquewhite;
    padding: 1em 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;

}


.wavy-curve {
    display: block;
    width: 100%;
    height: 1px;

  }

  .custom-shape-divider-top-1717276612 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1717276612 svg {
    position: relative;
    display: block;
    width: calc(269% + 1.3px);
    height: 343px;
}

.custom-shape-divider-top-1717276612 .shape-fill {
    fill: #9E0861;
}

.autocomplete-container {
    text-align: center;
    margin: 20px;
  }

/* .webcam_image_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.webcam_image_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap as needed */
    width: 50%;
    background-color: antiquewhite;
    padding: 1em;
    border-radius: 10px;
}
.webcam_image_div img {
    width: 100%;
    border-radius: 10px;
    /* height: auto; */
}
